<!DOCTYPE html>
<html lang="en">

{{partial '_head'}}

<body>
    {{partial '_menu'}}

    <section class="content">
        <h1 class="heading">{{attributes.title}}</h1>
        <div>{{body}}</div>
    </section>

    {{partial '_footer'}}
</body>

</html>