<html>

{{partial '_head'}}

<body>
    {{partial '_menu'}}

    <section class="content">
        <h1 class="heading">{{attributes.title}}</h1>
        {{body}}
    </section>

    {{partial '_footer'}}
</body>

</html>
